body {
    background-color: rgb(117, 12, 12);
}

#bar {
    text-align: center;
    background-color: rgb(223, 128, 50);
    color: whitesmoke;
    padding: 2px;
    margin: 0;
    font-family: inherit;
    clear: both;
}

#main-nav {
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}

#main-nav li {
    text-decoration: none;
    padding: 14px 20px;
    display: inline-block;
    position: relative;
}

#main-nav li:hover {
    color: white;
    background-color:rgb(205, 128, 28);
}

/* Hide ULs */
#main-nav ul ul {
    display: none;
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
}

/* If there is a UL under a list element when hoeering show it */
#main-nav li:hover ul {
    display: block;
    background-color:  rgb(0, 0, 0);
    float: left;
    position: absolute;
    padding: 0;
}

#main-nav ul li {
    list-style-type: none;
    text-align: center;
    padding: 10px;
}

.main-container {
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
}

.content-box {
    background-color: rgb(172, 120, 73);
    color: black;
    margin: 20px;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 10px 10px 5px rgb(185, 87, 87);
    font-size:larger;
}

.content-area {
    width: 70%;
    float : left;
}

#contact {
    text-align: center;
    background-color: rgb(75, 37, 6);
    color: rgb(185, 183, 183);
    float: right;
    width: 25%;
    border: 1px solid black;
}

#contact:hover {
    background-color: rgb(37, 124, 153);
    color: #000;
    cursor: pointer;
    transform: scale(1.1);
    
}

.main-container {
    border: 2px solid black;
}